$primary-color: #3721b4 !default;
$primary-color-light: lighten($primary-color, 5%) !default;
$primary-color-dark: darken($primary-color, 5%) !default;

$secondary-color: #5c71ff !default;
$secondary-color-light: lighten($secondary-color, 5%) !default;
$secondary-color-dark: darken($secondary-color, 5%) !default;

$danger-color: #fd7062 !default;
$danger-color-light: lighten($danger-color, 5%) !default;
$danger-color-dark: darken($danger-color, 5%) !default;

$warning-color: #f1a824 !default;
$warning-color-light: lighten($warning-color, 5%) !default;
$warning-color-dark: darken($warning-color, 5%) !default;

$success-color: #00c48c !default;
$success-color-light: lighten($success-color, 5%) !default;
$success-color-dark: darken($success-color, 5%) !default;

$info-color: #03a9f4 !default;
$info-color-light: lighten($info-color, 5%) !default;
$info-color-dark: darken($info-color, 5%) !default;

$light-color: #e8e8e8 !default;
$light-color-light: #f7f1f1;
$light-color-dark: #dedddd;

$dark-color: #000000 !default;
$dark-color-light: lighten($dark-color, 5%) !default;
$dark-color-dark: darken($dark-color, 5%) !default;

$white-color: #fff;
$black-color: #000;
$transparent: transparent;

// Border colors

$border-color: #eeeeee;
$border-danger-color: $danger-color;
$border-warning-color: $warning-color;
$border-success-color: $success-color;
$border-info-color: $info-color;

// Text colors

$text-color: #000;
$text-danger-color: $danger-color;
$text-warning-color: $warning-color;
$text-success-color: $success-color;
$text-info-color: $info-color;

$placeholder-color: #86939e;
$placeholder-color-inactive-tab: #b5b6ba;
$placeholder-color-light: lighten($placeholder-color, 5%) !default;
$placeholder-color-dark: darken($placeholder-color, 5%) !default;

$label-color: #757575;
$disabled-color: $placeholder-color;
$disabled-background-color: #e9ebf1;
$focus-border-color: #aebcc1;

$themes: (
  "primary": (
    "base": $primary-color,
    "dark": $primary-color-dark,
    "light": $primary-color-light,
    "text": $white-color,
  ),
  "secondary": (
    "base": $secondary-color,
    "dark": $secondary-color-dark,
    "light": $secondary-color-light,
    "text": $white-color,
  ),
  "danger": (
    "base": $danger-color,
    "dark": $danger-color-dark,
    "light": $danger-color-light,
    "text": $white-color,
  ),
  "warning": (
    "base": $warning-color,
    "dark": $warning-color-dark,
    "light": $warning-color-light,
    "text": $white-color,
  ),
  "success": (
    "base": $success-color,
    "dark": $success-color-dark,
    "light": $success-color-light,
    "text": $white-color,
  ),
  "info": (
    "base": $info-color,
    "dark": $info-color-dark,
    "light": $info-color-light,
    "text": $white-color,
  ),
  "light": (
    "base": $light-color,
    "dark": $light-color-dark,
    "light": $light-color-light,
    "text": $label-color,
  ),
  "dark": (
    "base": $dark-color,
    "dark": $dark-color-dark,
    "light": $dark-color-light,
    "text": $white-color,
  ),
);

@function theme($theme, $type) {
  @if map-has-key($themes, $theme) {
    $curr_theme: map-get($themes, $theme);
    @if map-has-key($curr_theme, $type) {
      @return map-get($curr_theme, $type);
    }
  }
  @warn "Unknown `#{$theme}` - `#{$type}` in $themes.";
  @return null;
}
