.full {
  width: 100%;
}
.m-r-5 {
  margin-right: 5px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.m-t-15 {
  margin-top: 15px;
}
.text-left {
  text-align: left;
}
.no-select {
  user-select: none;
}
.border-default {
  border: solid 1px $border-color;
}
